.btn-submit {
    transition: all .5s ease;
    width: 70%;
    border-radius: 5px;
    color: $theme;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid $theme;
    margin-top: 1.5em;
    margin-bottom: 1em;
    &:hover,
    &:focus {
        background-color: $theme;
        color: #fff;
    }
    &.full {
        width: 100%;
    }
}

.error {
    color: red;
}

.btn-back {
    transition: all .5s ease;
    width: 70%;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid black;
    margin-top: 1.5em;
    margin-bottom: 1em;
    &:hover,
    &:focus {
        background-color: black;
        color: #fff;
    }
}