@import '../variables';
#makeAppointment {
    .form-title {
        text-align: center;
    }
    .container {
        padding-top: 20vh;
    }
    .card {
        .card-header {
            background-color: gray !important;
        }
    }
    .contentInput {
        width: inherit;
        height: 5vh;
        border-radius: 5px;
    }
}