#makeAppointment .form-title {
  text-align: center;
}

#makeAppointment .container {
  padding-top: 20vh;
}

#makeAppointment .card .card-header {
  background-color: gray !important;
}

#makeAppointment .contentInput {
  width: inherit;
  height: 5vh;
  border-radius: 5px;
}

